{% extends 'meuapp/base.html' %}
{% load static %}
{% block content %}

        <main>
            <section class="corpo__html ativo" id="dashboard-corpo">
                <div class="menu__saudacoes">
                    <h2 class="titulo__h2__dashboard">Bem vindo, <span class="name_system">Administrador</span></h2>
                    <h1 class="titulo__h1__dashboard">O que gostaria de fazer?</h1>
                </div>
                <div class="menu__dashboard">
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                    <a href="#" class="ancora__dashoboard">
                        <img src="" alt="" srcset="">
                        <h2></h2>
                    </a>
                </div>
            </section>
        </main>
{% endblock %}